name: Build Artifact

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Build CLI Artifact
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write # Required for creating releases
      packages: read

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - os: ubuntu-latest
            output: scout-cli-linux
          - os: windows-latest
            output: scout-cli-windows.exe
          - os: macos-latest
            output: scout-cli-macos

    steps:
      - uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      # This is a workaround to install npm dependencies
      - name: Install npm dependencies
        run: |
          deno cache --reload npm:abort-controller@3.0.0
          deno cache --reload npm:scoutos@0.7.1
        env:
          DENO_DIR: ./temp/deno-dir

      - name: Compile CLI
        run: deno compile --allow-read --allow-write --allow-env --allow-net --allow-run --output ${{ matrix.output }} mod.ts
        env:
          DENO_DIR: ./temp/deno-dir

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.output }}
          path: ${{ matrix.output }}

  release:
    name: Release Artifact
    needs: build
    # Only run release on push to main, skip for PRs
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          name: Executables Release ${{ github.sha }}
          tag_name: latest
          files: |
            artifacts/scout-cli-linux/scout-cli-linux
            artifacts/scout-cli-windows.exe/scout-cli-windows.exe
            artifacts/scout-cli-macos/scout-cli-macos
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
